/* Default font size for larger screens (PC) */
.custom-navbar {
    font-size: 16px;
    padding: 15px 10px;
  }
  
.text-gray {
    color: #9c9c9c; /* Darkish gray color */
  }
.linker {
  color : #9c9c9c;
}

a:hover {
  color: #9c9c9c;
}
.pointer{
  display:inherit;
  text-align: center;
}
.pointer:hover {
  cursor: pointer;
}
.friend-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.friend-checkbox label {
  margin-right: 10px;
}
.masonry-container {
  column-count: 3;
  column-gap: 1rem;
}

.masonry-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.image-container {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
}





       