/* Default font size for larger screens (PC) */
.custom-navbar {
    font-size: 16px;
    padding: 15px 10px;
  }
  
.text-gray {
    color: #9c9c9c; /* Darkish gray color */
  }
.linker {
  color : #9c9c9c;
}

a:hover {
  color: #9c9c9c;
}
.pointer{
  display:inherit;
  text-align: center;
}
.pointer:hover {
  cursor: pointer;
}
.friend-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.friend-checkbox label {
  margin-right: 10px;
}